:root {
    --font-default: "Roboto";
    --font-header: "Baskerville";
}

*, * * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-default);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fcfcfc;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* HEADER STYLES */
header {
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

header h1 {
    font-family: var(--font-header);
    font-weight: 300;
    line-height: 1;
    padding-top: 22px;
    padding-bottom: 20px;
    font-size: 28px;
}

main {
    padding-top: 25px;
    padding-bottom: 50px;
    /* background-color: #fcfcfc; */
}

@media (min-width: 500px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    main {
        padding-bottom: 60px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }


    header h1 {
        padding-top: 44px;
        padding-bottom: 42px;
    }


    main {
        padding-top: 70px;
        padding-bottom: 98px;
    }
}